# Dependencies
node_modules
offline_deps
deployment_package

# Environment & Config
.env
.env.*
.vscode
.git
.gitignore

# Build Artifacts
dist
coverage

# Large Deployment Files (Do NOT copy into container)
base-servercore.tar
nodejs.zip
*.tar
*.zip
*.bat
exclude_list.txt
DEPLOY_WINDOWS.md
